#  ------------ General options ----------------------------------------
save_path = "/home/liujing/Experiments/Quantization/TELCNN/mutual/"
dataPath = "/home/dataset" # path for loading data set
dataset = "imagenet_mio" # options: imagenet | cifar10 | cifar100 | imagenet100 | mnist
nGPU = 4 # number of GPUs to use by default
GPU = 0  # default gpu to use, options: range(nGPU)
visible_devices = "4,5,6,7"

# ------------- Data options -------------------------------------------
nThreads = 10  # number of data loader threads

# ---------- Optimization options --------------------------------------
nEpochs = 30  # number of total epochs to train 400
batchSize = 256  # mini-batch size 128
momentum = 0.9  # momentum 0.9
weightDecay = 1e-4  # weight decay 1e-4

# lr master for optimizer 1 (mask vector d)
ori_opt_type = "SGD"
quan_opt_type = "SGD"
ori_lr = 0.001  # initial learning rate
quan_lr = 0.001
lrPolicy = "multi_step"  # options: multi_step | linear | exp | const | step
power = 0.98  # power for inv policy (lr_policy)
step = [15, 25]  # step for linear or exp learning rate policy
decayRate = 0.1 # lr decay rate
endlr = -1

# ---------- Model options ---------------------------------------------
netType = "PreResNet"  # options: ResNet | PreResNet | GreedyNet | NIN | LeNet5 | LeNet500300 | DenseNet_Cifar | AlexNet
experimentID = "ori_sgd_quan_sgd_step[15, 25]_noquanfirstlastrelu_1127"
depth = 18  # resnet depth: (n-2)%6==0
nClasses = 1000  # number of classes in the dataset
wideFactor = 1  # wide factor for wide-resnet
drawNetwork = False

# ---------- Quantization options ---------------------------------------------
quantization_k = [2]
alpha = 1
beta = 1
gamma = 0.5

# ---------- Resume or Retrain options ---------------------------------------------
resume = ""
ori_retrain = "/home/liujing/Experiments/Baseline/ImageNet/log_PreResNet18_imagenet_bs256_lr0.100_epoch90_e90_baseline_resume_112501_repeat/check_point/best_model.pth"
quan_retrain = [
"/home/liujing/Experiments/Baseline/ImageNet/log_PreResNet18_imagenet_bs256_lr0.100_epoch90_e90_baseline_resume_112501_repeat/check_point/best_model.pth"
]

repeat = 1